### Java
# Compiled class file
*.class
*.jar
*.war
*.ear
*.zip

# Log file
*.log

# Gradle
build/
.gradle/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.metadata
.classpath
.project
.settings/
bin/
tmp/

# Other
hs_err_pid*
.DS_Store

